# Environment Variables
.env
.env.local
.env.development
.env.test
.env.production
backend/.env
frontend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
db.sqlite3

# Node
node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo
